<h2>Add Your Team!</h2>
<form action='<%= teams_url %>' method="POST">
	<input type='hidden'
	    name='authenticity_token'
	    value='<%= form_authenticity_token %>'>
	
		<input name='team[manager_id]' type='hidden' value='<%=current_user.id %>'>

	<label>Team Name
		<input name='team[name]' type='text'>
	</label>
	<br>
	<label>Sport
	<select name='team[sport_id]'>
		<% @sports.each do |sport| %>
		<option value='<%= sport.id %>'><%= sport.name %></option>
		<% end %>
	</select>
</label>
<br>
<input type='submit' value='Register Team!'>
	
</end>