	<div class='site-title'>
	<h1>Welcome to TeamSlap!</h1>
</div>

<div class="container">

	<div class='row'>
		<div class='col-xs-6'>
			<form class="form-signin" role='form' action="<%= session_url %>" method="post">
				<h3 class='form-signin-heading'>Please Sign In or <%= link_to "Sign Up", new_user_url %></h3>
				<%= auth_token_input %>
 
				<input class='form-control' type="text" name="session[email]" placeholder='Email address' required autofocus>
				<input class='form-control' type="password" name="session[password]" placeholder='Password' required>

	
				<button class='btn login-btn btn-md btn-primary' type='submit'>Sign In</button>
			</form>

			<form class="form-signin" role='form' action="<%= session_url %>" method="post">
				<%= auth_token_input %>
 
				<input class='form-control' type="hidden" name="session[email]" placeholder='Email address' value="joseph@teamslap.com">
				<input class='form-control' type="hidden" name="session[password]" placeholder='Password' value="foobar">
	
				<button class='btn login-btn btn-md btn-warning' type='submit'>Sign In As Guest</button>
			</form>
		</div>

		<div class='col-xs-6'>
			<h4>TeamSlap is a tool for managing sports teams and leagues. Please feel free to use our guest account.</h4>
		</div>
	</div>
</div>

<script>
$('body').addClass('introBody');

</script>