<div class="container">

<div class='row header-row'>
	<div class='col-xs-6 col-md-6 user-info'>
	<h2><%= @user.first_name %> <%= @user.last_name %></h2>
	<h4><%= @user.email %></h4>
</div>

	<div class='col-xs-6 col-md-6 user-teams'>
	<% if @user.owned_teams %>
	<h4>Teams I Manage</h4>

		<% @user.owned_teams.each do |team| %>
		<a class='btn btn-primary' role='button' href='<%= team_url(team)%>'><%= team.name %></a>
		<% end %>
			<% end %>

	<% if @user.teams %>
	<% user_games = []%>
	<h4>Teams I Play On:</h4>
	
		<% @user.teams.each do |team| %>
			<% team.games.each { |game| user_games.push(game) } if team.games %>
			<a class='btn btn-primary' href='<%= team_url(team) %>'><%= team.name %></a>
		<% end %>

	</div>
</div>
	<div class='row user-games'>
	<div>
		<h3>My Games</h3>
	<% if !(user_games.empty?) %>
	<table class="table table-striped table-bordered">
		<tr>
			<th>League</th>
			<th>Date</th>
			<th>Time</th>
			<th>Home Team</th>
			<th>Result</th>
			<th>Away Team</th>
			<th>Location</th>
			<th>Availability</th>
			<th>Game Details</th>
		</tr>

		<% user_games.each do |game| %>
		<tr id="game_<%= game.id %>">
			<td><%= game.league.name %></td>
			<td><%= game.date_disp %></td>
			<td><%= game.time %></td>
			<td><%= game.home_team.name %></td>
			<td><%= game.result %></td>
			<td><%= game.away_team.name %></td>
			<td><%= game.location.name %></td>
			<% player_avail = @user.availability(game) %>

				<% if @user == current_user %>
						<td class="editable-availability" id='<%= player_avail.id %>'>
				<% else %>
						<td class="availability" id='<%= player_avail.id %>'>
				<% end %>
				<%= player_avail.avail_button %>
			</td>
			<td><%= link_to "Game Info", league_game_url(game.league, game) %>
		</tr>
			<% end %>
			</table>
	<% end %>
<% end %>
</div>
</div>

	
<script>
// $('.editable-availability').css('cursor', 'pointer');
$('.avail-btn').on('click', function() {
	var availId = $(this).parent()[0].id;
	var userId = <%= @user.id %>;
	chooseAvail(availId, userId);
});

</script>
</div>
