<h2><%= @lineup.team.name %> Lineup for <%= Date.parse(@lineup.game.date) %></h2>
<div class='container'>
	<div class='row'>
		
		<div class='col col-xs-5'>
			<h3>Positions</h3>
			<div id="positions">
				<% if @lineup.positions %>
					<% @lineup.positions.each do |position| %>
					<div class='row lineup-position' id='<%= position.id %>'>
						<div class='lineup-description col col-xs-4'>
						<%= position.name %>
					</div>
					<div class='lineup-assignment col col-xs-8 droppable ui-widget-header' id='<%= position.id %>'>
						<% if position.player %>
							<%= position.player.name + ", " + position.player.gender %>
						<% end %>
					</div>
					</div>
					<% end %>
				<% end %>
			</div>
			<div>
				To add a new position, enter its name below and submit.
				<form id='addPosition'><input type='text' id='positionName' role='form'>
					<input type='submit' class='btn btn-primary form-control' value='Add Position'>
				</form>
			</div>
		</div>
		
		<div class='col col-xs-5' id='available-players'>
			<h3>Available Players</h3>

				<% @lineup.available_players.each do |player| %>
				<% next if @lineup.assigned_players.include?(player) %>
				<div class='draggable ui-widget-content available-player' id='<%= player.id %>'>
					<%= player.name %>, <%= player.gender %></div>
				<% end %>

		</div>
		
	</div>
</div>

<script>
$('#addPosition').on('submit', function(event) {
	event.preventDefault();
	var name = $('#positionName').val();
	var teamId = <%= @lineup.team.id %>;
	var lineupId = <%= @lineup.id %>;
	newPosition(name, teamId, lineupId);
});
$(function() {
		$( ".draggable" ).draggable({containment: '.container', revert: 'invalid',
			cursor: 'move'});
		$( ".droppable" ).droppable({
			drop: function( event, ui ) {
		 	$( this ).addClass( "assigned");
			var playerId = ui.draggable[0].id;
			var positionId = event.target.id;
			var lineupId = <%= @lineup.id %>
			assignPosition(positionId, playerId, lineupId);
		  },
		});	
});

$('.lineup-assignment').on('click', function() {
	var lineupId = <%= @lineup.id %>
	unassign(this.id, lineupId);
})
  
</script>