<div class='container lineup-maker'>
<h2><%= @lineup.team.name %> Lineup for <%= @lineup.game.date_disp %></h2>
	<div class='row top-row'>

			<div class='col col-xs-3' id='instructions'>
				<h3>About This Feature</h3>
				<p>Use the position maker to create custom positions for this lineup.</p>
				
				<p>You can:</p>
				<ul>
					<li>Create new positions by entering and submitting a position name</li>
					<li>Drag available players to lineup positions for assignment</li>
					<li>Double-click an assigned player's name to un-assign the position</li>
					<li>Rearrange the list of positions</li>
				</ul>

			</div>
			
		<div class='col col-xs-5' id="positions">
			<h3>Positions</h3>
			<div >
				<ol id="sortable-positions">
				<% if @lineup.positions %>
					<% @lineup.positions.sort_by{|pos| pos.id}.each do |position| %>
					<li class="ui-state-default"><div class='row lineup-position' id='<%= position.id %>'>
						<div class='lineup-description col col-xs-5'>
						<%= position.name %>
					</div>
					<div class='lineup-assignment col col-xs-7 droppable ui-widget-header' id='<%= position.id %>'>
						<% if position.player %>
							<%= position.player.name + ", " + position.player.gender %>
						<% end %>
					</div>
					</div>
				</li>
					<% end %>
				<% end %>
			</ol>
			</div>
			<div>
				To add a new position, enter its name below and submit.
				<form id='addPosition' class='position-form' role='form'><input type='text' id='positionName' class='form-control'>
					<input type='submit' class='btn btn-primary form-control' value='Add Position'>
				</form>
			</div>
		</div>
		
		<div class='col col-xs-3' id='available-players'>
			<h3>Available Players</h3>

				<% @lineup.available_players.each do |player| %>
				<% next if @lineup.assigned_players.include?(player) %>
				<div class='draggable ui-widget-content available-player' id='<%= player.id %>'>
					<%= player.name %>, <%= player.gender %></div>
				<% end %>

		</div>
		
	</div>
</div>

<script>
$(function() {
  $( "#sortable-positions" ).sortable();
  $( "#sortable-positions" ).disableSelection();
});

$('#addPosition').on('submit', function(event) {
	event.preventDefault();
	var name = $('#positionName').val();
	var teamId = <%= @lineup.team.id %>;
	var lineupId = <%= @lineup.id %>;
	newPosition(name, teamId, lineupId);
});
$(function() {
		$( ".draggable" ).draggable({containment: '.lineup-maker', revert: 'invalid',
			cursor: 'move'});
		$( ".droppable" ).droppable({
			drop: function( event, ui ) {
		 	$( this ).addClass( "assigned");
			var playerId = ui.draggable[0].id;
			var positionId = event.target.id;
			var lineupId = <%= @lineup.id %>
			assignPosition(positionId, playerId, lineupId);
		  },
		});	
});

$('.lineup-assignment').on('dblclick', function() {
	var lineupId = <%= @lineup.id %>
	unassign(this.id, lineupId);
});
  
</script>