<div class='container'>
	<div class='row'>
			<div class='col-xs-12'>
			<h2>Game Details</h2>
		</div>
	</div>
	<div class='row'>
		<div class='col-xs-6 col-md-4'>
			<h4>Schedule Details</h4>
			<table class='table table-bordered table-responsive '>
				<tr>
					<th>Home Team</th>
						<td><%= link_to @game.home_team.name, team_url(@game.home_team) %></td>
				</tr>
				<tr>
				<th>Away Team</th>
						<td><%= link_to @game.away_team.name, team_url(@game.away_team) %></td>
				</tr>
				<tr>
					<th>League</th>
					<td><%= @game.league.name %></td>
				</tr>
				<tr>
					<th>Date</th>
					<td><%= @game.month %> <%= Date.parse(@game.date).day %>,
						<%= Date.parse(@game.date).year %></td>
				</tr>
				<tr>
					<th>Time</th>
					<td><%= @game.time_disp %></td>
				</tr>
			</table>
		</div>
		<div class='col-xs-6 col-md-4'>
			<h4>Location Information</h4>
			<table class='table table-bordered table-responsive'>
				<tr>
					<th>Name</th>
					<td><%= @game.location.name %></td>
				</tr>
				<tr>
					<th>Address</th>
					<td><a href="<%= @game.location.gmaps_url %>" target="_blank"><%= @game.location.address1 %>
							<%= @game.location.address2 %><br>
							<%= @game.location.city %>, <%= @game.location.state %> 
							<%= @game.location.zip %> 
						</a><br><br> (Map opens in new window)
					</td>
				</tr>
				<tr>
					<th>Description</th>
					<td><%= @game.location.description %></td>
				</tr>
			</table>
		</div>

		<div class='col-xs-6 col-md-4'>
			<h4>Game Result</h4>
			<table class='table table-bordered table-responsive'>
				<tr>
					<td><%= @game.home_team.name %></td>
					<% if @game.league.name=='Non-League' %>
						<td class='home-score non-league-score'><%= @game.team1_score %></td>
					<% else %>
						<td><%= @game.team1_score %></td>
					<% end %>
				</tr>
				<tr>
					<td><%= @game.away_team.name %></td>
					
					<% if @game.league.name=='Non-League' %>
						<td class='away-score non-league-score'><%= @game.team2_score %></td>
					<% else %>
						<td><%= @game.team2_score %></td>
					<% end %>
				</tr>
			</table>
			<% if @game.league.name == 'Non-League' %>
			<p><em>*Because this is a non-league game, you can edit the above 
				result by double-clicking the score.</em></p>
			<% end %>
		</div>
	</div>

	
	<div class='row'>
		<div class='col-xs-12'>
		<% @game.teams.each do |team| %>
			<% if @my_teams.include?(team) %>
			<h2><%= team.name %> Player Availability for This Game 
				<% if team.manager_id == current_user.id %> 
					<% if team.lineup(@game).first %>
						<% lineup = team.lineup(@game).first %>
						<a href="<%= team_lineup_url(team, lineup) %>" id='editLineup' class="btn btn-primary">Edit Your Lineup for This Game</a>
					<% else %>	
						<button id='<%= team.id %>' class="newLineup btn btn-primary">Create a Lineup for This Game</a>
					<% end %>
				<% end %>
				
			</h2>
			<div class='games-table'>
			<table id='team-avails' class='tablesorter table-striped table table-responsive table-bordered'>
				<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Gender</th>
					<th>Availability Status</th>
				</tr>
			</thead>
			<tbody>
				<% team.players.each do |player| %>
				<tr>
					<td><%= player.first_name %></td>
					<td><%= player.last_name %></td>
					<td><%= player.gender %></td>
					<td><%= player.availability(@game).avail_button %></td>
				</tr>
				<% end %>
			</tbody>
			</table>
			<% end %>
		<% end %>
	</div>
	</div>
	
</div>

<script>
$('thead').css('cursor','pointer');
$(document).ready(function() {
	$('#team-avails').tablesorter();
});

$('.newLineup').on('click', function() {
	var gameId = <%= @game.id %>;
	var teamId = this.id;
	newLineup(gameId, teamId);
});

$('.non-league-score').on('dblclick', function() {
	var leagueId = <%= @game.league_id %>;
	var gameId = <%= @game.id %>;
	var homeScore = <%= @game.team1_score %>;
	console.log(homeScore);
	var awayScore = <%= @game.team2_score %>;
	editNLResult(gameId, leagueId, homeScore, awayScore);
});



</script>