<!DOCTYPE html>
<html>
<head>
  <title>TeamSlap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
		<% if signed_in? %>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
			<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TeamSlap</a>
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schtuff <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>Signed in as <%= current_user.email %></li>
            <li><%= link_to "My Home Page", user_url(current_user) %></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><%= link_to "Log Out", session_url, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% end %>

<div class="row">
	<div class="col-xs-4">
	<% if signed_in? %>
	  <p>Logged in as <%= link_to current_user.email, user_url(current_user)%></p>
	  <%= button_to "Log Out", session_url, method: :delete %>
	<% else %>
	  <%= link_to "Sign In", new_session_url %>
	  <%= link_to "Sign Up", new_user_url %>
	<% end %>
	</div>

	<div class="col-xs-4">
		<a class="btn btn-info" href='<%= teams_url %>'>See All Teams</a>
		<a class="btn btn-warning" href='<%= leagues_url %>'>See All Leagues</a>
	</div>
</div>
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>



<%= yield %>

</body>
</html>
