<!DOCTYPE html>
<html>
<head>
  <title>TeamSlap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
		<% if signed_in? %>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
			<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= user_url(current_user)%>">TeamSlap</a>
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Teams<b class="caret"></b></a>
          <ul class="dropdown-menu">
						<% if current_user.owned_teams %>
						<li><em>As Manager</em></li>
							<% current_user.owned_teams.each do |team| %>
							<li><%= link_to team.name, team_url(team) %></li>
							<% end %>
							<li class='divider'></li>								
						<% end %>
						<% if current_user.teams %>
						<li><em>As Player</em></li>
							<% current_user.teams.each do |team| %>
							<li><%= link_to team.name, team_url(team) %></li>
							<% end %>
						<% end %>
          </ul>
        </li>
				
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Leagues<b class="caret"></b></a>
          <ul class="dropdown-menu">
						<% if current_user.owned_leagues %>
						<li><em>As Manager</em></li>
							<% current_user.owned_leagues.each do |league| %>
							<li><%= link_to league.name, league_url(league) %></li>
							<% end %>
							<li class='divider'></li>								
						<% end %>
						<% if current_user.leagues %>
						<li><em>As Player</em></li>
							<% current_user.leagues.each do |league| %>
							<li><%= link_to league.name, league_url(league) %></li>
							<% end %>
						<% end %>
          </ul>
        </li>
				
				<li><%= link_to "Other Leagues", leagues_url %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schtuff <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>Signed in as <%= current_user.email %></li>
            <li><%= link_to "My Home Page", user_url(current_user) %></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><%= link_to "Log Out", session_url, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% end %>


<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>



<%= yield %>

</body>
</html>
